* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    padding: 80px 20px;
    background-color: rgb(252, 92, 29);
  }
  h1 {
      color: white;
      font-size: 3rem;
      font-weight: 800;
      text-align: center;
      margin: 30px;
  }
  .main {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    width: 40vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    color: rgb(58, 58, 58);
    background-color: gainsboro;
  }

.sect {
  display: inline;
}

  .cim{
      display: inline;
  }

 #check {
 
 width: 25px;
 height: 25px;
 
margin: 0px;
padding: 0px;
 }

 

  .btn__uj {
    font-size: 22px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid rgb(58, 58, 58);
    color: rgb(58, 58, 58); 
    width: 9%;
    padding: 15px;
  }
  .div__day , .div__date {
    color: tomato;
    font-size: 2rem;
    margin-left: 30px;

  }

  a {
    color: rgb(100, 100, 100);
    text-decoration: none;
  }
  
  input {
    min-width: 80%;
    margin: 30px 0px 0px 30px;
    padding: 15px;
    font-size: 22px;
    border-radius: 4px;
    border: 1px solid rgb(58, 58, 58);
    color: rgb(58, 58, 58);
  }
  
  .text-info {
    margin: 30px 30px;
    color: rgb(117, 117, 117);
    font-size: 1.5rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .card {
    width: 90%;
    padding:15px 0px;
    padding-left: 15px;
    background-color: rgb(58, 58, 58);
    color: white;
    margin-left: 30px;
    margin-right: 0px;
    margin-bottom: 30px;
    border-radius: 4px;
    
    font-size: 22px;
  }
  .card:hover  .deldiv{
    color: rgb(32, 30, 30);
    font-weight: 600;
    text-align: center;
    font-size: 30px;
    margin-top: -5px;
    animation-name: example;
    animation-duration: 1s;
    background-color: rgb(235, 22, 22);
    
  }
  
  @keyframes example {
    from {background-color: rgb(8, 8, 8);}
    to {background-color: rgb(235, 22, 22);}
  }
   

  .deldiv {
      background-color:  rgb(58, 58, 58);
      width: 80px;
      float: right;
      cursor: pointer;
      color:  rgb(58, 58, 58);
      
      height: auto;

  }
  
  .hide__btn, .show__btn, .clear__btn {
    width: 200px;
    border-radius: 20px;
    background-color: lightcyan ;
    color: black;
    font-size: 1.3rem;
    margin: 10px 15px;
  }
.btn__div {
  display: inline-block;
}

  ::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background:  rgb(92, 91, 91);
  }
  
  
  @media screen and (max-width: 768px) {
    body {
      padding: 10px 20px;
      margin: 0;
    }
    .main {
      width: 80vw;
      margin-top: 30px;
    }
  }